*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: 100vh;
}

.left-panel {
    grid-column: 1;
    grid-row: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f7f7f7;
}

.right-panel {
    grid-column: 2;
    grid-row: 1;
}

app-chat-window{
    height: 100%;
    margin-top: 5%;
}
app-palette{
    height: 35%;
}